annotated-types==0.7.0
anyio==4.5.2
backports.tarfile==1.2.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-log==0.4.0
colorama==0.4.6
deprecation==2.1.0
docutils==0.20.1
dotty-dict==1.3.1
exceptiongroup==1.2.2
fastapi==0.115.12
gitdb==4.0.12
GitPython==3.1.44
gotrue==1.3.1
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
idna==3.10
importlib-metadata==8.5.0
importlib-resources==6.4.5
invoke==1.7.3
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
keyring==25.5.0
more-itertools==10.5.0
nh3==0.2.21
packaging==25.0
pkginfo==1.12.1.2
postgrest==0.10.8
pydantic==2.10.6
pydantic-core==2.27.2
pygments==2.19.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-gitlab==3.15.0
python-semantic-release==7.33.2
python-telegram-bot==20.7
readme-renderer==43.0
realtime==1.0.6
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
semver==2.13.0
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
starlette==0.44.0
storage3==0.5.4
StrEnum==0.4.15
supabase==1.0.3
supafunc==0.2.4
tomlkit==0.13.2
tqdm==4.67.1
twine==3.8.0
typing-extensions==4.13.2
urllib3==2.2.3
uvicorn==0.33.0
websockets==12.0
zipp==3.20.2
